.homeVideoDisplay {
    flex: 0.8;
    padding: 40px 20px;
    padding-bottom: 0;
}

.homeVideoDisplay h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.homeVideoGrid {
    display: flex;
    flex-wrap: wrap;
}

.videoTile {
    padding: .5em;
}

.ul-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    gap: 20px;
}

.homepage-grid {
    list-style: none;
    display: inline-block;
    text-align: center;
    height: fit-content(450px);
    overflow:hidden;
    word-wrap:break-word
}

.homepage-border {
    margin: 1em;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    background-color: #f9f9f9;
}

/* .ul-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    flex: 1 1 0
} */