.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: 60px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.navbar-welcome-text-bold {
    font-size: 20px;
    font-style: bold;
}

.navbar-welcome-text {
    font-size: 20px;
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none!important; 
}

.comment-reply-header {
    font-size: larger;
    font-weight: bold;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    flex: 1 1 0
}

.related-video-text {
    font-size: small;
}

.btn.btn-light:hover {
    background-color: grey;
    
}

.video-thumbnail {
    position: relative;
    display: block;
}

.play-button {
    left: 40%;
    top: 25%;
    position: absolute;
    font-size:4em;
    color:#f9f9f9;

}

.play-button:hover {
    color: red;
}

.video-thumbnail-small {
    position: relative;
    display: block;
}

.play-button-small {
    left: 40%;
    top: 25%;
    position: absolute;
    font-size:2em;
    color:#f9f9f9;

}

.play-button-small:hover {
    color: red;
}

.btn.btn-link {
    color: grey;
}

.homepage-grid {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: max-content;
    text-align: center;
    flex: 1 1 0;
}

.homepage-border {
    margin: 1em;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    background-color: #f9f9f9;
}