.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: 60px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.navbar-welcome-text-bold {
    font-size: 20px;
    font-style: bold;
}

.navbar-welcome-text {
    font-size: 20px;
}

.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
}

.btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none!important; 
}

.comment-reply-header {
    font-size: larger;
    font-weight: bold;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    margin-left: -2em;
    padding-left: 0px;
}

.related-video-text {
    font-size: small;
}

.btn.btn-light:hover {
    background-color: rgb(207, 207, 207);
    
}

.video-thumbnail {
    position: relative;
    display: block;
}

.play-button-search {
    left: 40%;
    top: 15%;
    position: absolute;
    font-size:4em;
    color:#f9f9f9;

}

.play-button-homepage {
    left: 40%;
    top: 25%;
    position: absolute;
    font-size:4em;
    color:#f9f9f9;

}

.play-button-search:hover, .play-button-homepage:hover {
    color: red;
}

.video-thumbnail-small {
    position: relative;
    display: block;
}

.play-button-small {
    left: 30%;
    top: 5%;
    position: absolute;
    font-size:2em;
    color:#f9f9f9;

}

.play-button-small:hover {
    color: red;
}

.btn.btn-link {
    color: rgb(207, 207, 207);
}

button.btn.btn-outline-dark:hover {
    background-color: rgb(207, 207, 207);
    color: black;
}

button.btn.btn-outline-danger:hover {
    background-color: #dc35462f;
    color: #dc3545;
}

button.btn.btn-outline-primary:hover {
    background-color: #0d6dfd28;
    color: #0d6efd;
}